<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlc.api.dao.MemberMapper">
 <!-- 会员基本信息 -->
    <resultMap id="memberDO" type="com.jlc.api.dto.MemberDO">
        <result property="memberId" column="id" />
        <result property="name" column="name" />
        <result property="password" column="password" />
        <result property="nickName" column="nick_name" />
        <result property="type" column="type" />
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="sex" column="sex" />
        <result property="realName" column="real_name" />
        <result property="idNo" column="idno" />
        <result property="headPortrait" column="head_portrait" />
        <result property="province" column="province" />
        <result property="city" column="city" />
        <result property="isAuth" column="is_auth" />
        <result property="isBoundPhone" column="is_bound_phone" />
        <result property="isProtected" column="is_protected" />
        <result property="boundPhone" column="bound_phone" />
        <result property="regTime" column="reg_time" />
        <result property="status" column="status" />
        <result property="loginTime" column="login_time" />
        <result property="isDel" column="is_del" />
        <result property="operator" column="operator" />
        <result property="optTime" column="opt_time" />
        <result property="qq" column="qq" />
        <result property="birthday" column="birthday" />
        <result property="officeTel" column="office_tel" />
        <result property="officeAdr" column="office_adr" />
        <result property="officeZip" column="office_zip" />
        <result property="homeAdr" column="home_adr" />
        <result property="homeZip" column="home_zip" />
        <result property="remark" column="remark" />
        <result property="bankCard" column="bank_card" />
        <result property="bankName" column="bank_name" />
        <result property="registType" column="regist_type" />
        <result property="verifyStatus" column="verify_status" />
        <result property="authUrlUp" column="auth_url_up" />
        <result property="paymentPas" column="payment_pas" />
        <result property="authUrlDw" column="auth_url_dw" />
        <result property="corporateName" column="corporate_name" />
        <result property="organizationCode" column="organization_code" />
        <result property="randNo" column="rand_no" />
        <result property="status" column="status" />
        <result property="zpTimes" column="ZP_TIMES" />
        <result property="accountAmount" column="account_amount" />
        <result property="frozenFunds" column="frozen_funds" />
    </resultMap>

    <!-- 根据会员ID查询会员详细信息 -->
    <select id="getMemberDOById" resultMap="memberDO" parameterType="long">
        <![CDATA[
           SELECT u.id id,u.name,u.password,u.nick_name,u.type,u.email,u.phone
                ,u.sex,u.real_name,u.idno,u.head_portrait,u.province,u.idno
                ,u.city,u.is_auth,u.is_bound_phone,u.is_protected,u.bound_phone
                ,u.reg_time,u.status,u.login_time,u.is_del,u.operator,u.opt_time,u.regist_type,u.verify_status
                ,qq,birthday,office_tel,office_adr,office_zip,home_adr,home_zip,remark
                ,bank_card,bank_name,auth_url_up,payment_pas,auth_url_dw,corporate_name,organization_code,rand_no
                ,ua.account_amount,ua.frozen_funds,u.status,u.ZP_TIMES
           FROM t_user u LEFT JOIN t_user_account ua ON u.id = ua.id 
           WHERE u.id=#{memberId}
        ]]>
    </select>
    
     <!-- 查询用户投资次数 -->
    <select id="getMemberInvestCount" resultType="int" parameterType="long">
        <![CDATA[
           select (nvl((select 1 from t_order o where o.type=1 and o.user_id=#{memberId} and rownum = 1),0)+
             nvl((select 1 from t_lc_plan_investment p where p.user_id=#{memberId} and rownum = 1),0))
              from dual
        ]]>
    </select>
    
     <!-- 查询用户可用抽奖机会 -->
    <select id="getMemberUusableCJTime" resultType="int" parameterType="long">
        <![CDATA[
          select nvl(t.ZP_TIMES,0) from T_CJ_TIMES t where t.id =#{memberId}
        ]]>
    </select>
    
     <!-- 获取用户投资获得抽奖次数-->
	<select id="getMemberInvestZpTimes" resultType="int" parameterType="java.lang.Long">
         select nvl(t.ZP_GET_TIMES,0) from T_CJ_TIMES t where t.id =#{memberId}
    </select>
    
     <!-- 获取用户分享获得抽奖次数-->
	<select id="getMemberShareZpTimes" resultType="int" parameterType="java.lang.Long">
         select nvl(t.ZP_GET_SHARE_TIMES,0) from T_CJ_TIMES t where t.id =#{memberId}
    </select>
    
     <!-- 投资用户更新抽奖次数 -->
    <update id="giveCJChanceByInvest" parameterType="java.lang.Long">
    	update T_CJ_TIMES set ZP_TIMES=ZP_TIMES+1,ZP_GET_TIMES = ZP_GET_TIMES+1 where id = #{memberId}
    </update>
    
    <!-- 分享用户更新抽奖次数 -->
    <update id="giveCJChanceByShare" parameterType="java.lang.Long">
    	update T_CJ_TIMES set ZP_TIMES=ZP_TIMES+1,ZP_GET_SHARE_TIMES = ZP_GET_SHARE_TIMES+1 where id = #{memberId}
    </update>
    
    <!-- 获取抽奖活动投资赠送抽奖次数设置-->
	<select id="getActiviteConditions" parameterType="java.util.Map" resultType="com.jlc.api.dto.CJActiviteConditions">
		select c.activite_id activiteId,
		       c.unit unit,
		       c.create_time createTime,
		       c.type type,
		       c.type_name typeName,
		       nvl(c.min_amount, 0) minAmount,
		       nvl(c.time, 0) time,
		       nvl((select nvl(cc.time, 0)
		          from t_cj_activite_conditions cc
		         where cc.activite_id = a.id
		           and cc.type = 3
		           and cc.unit = 'D'),0) mfTime
		  from t_cj_activite a, t_cj_activite_conditions c
		 where c.activite_id = a.id
		   and a.status = 1
		   and c.type = #{type}
		   and c.unit = 'D'
		   and a.id = #{aId}
		   and sysdate between a.starttime and a.endtime
    </select>
    
    <!-- 新增用户抽奖机会 -->
     <insert id="addCjTime" parameterType="com.jlc.api.dto.CjTimes" >
<!-- 		insert into T_CJ_TIMES(ID,ZP_TIMES,ZP_GET_TIMES,ZP_GET_SHARE_TIMES,ZP_DATE) -->
<!-- 		values(#{id},#{zpTimes},#{zpGetTimes},#{zpGetShareTimes},sysdate) -->
		<!-- <selectKey resultType="long"   order="BEFORE" keyProperty="memberId">
			SELECT SEQ_T_CJ_TIMES.NEXTVAL as memberId FROM DUAL
		</selectKey> -->
		INSERT INTO T_CJ_TIMES ct
		select #{id},#{zpTimes},#{zpGetTimes},#{zpGetShareTimes},trunc(sysdate)
		from dual
		where not exists (select 1
                     from T_CJ_TIMES ct1
                    where ct1.id = #{id}
                      and ct1.zp_date = trunc(sysdate)
                  )
     </insert>
     
     <!-- 获取用户抽奖机会-->
	<select id="getCjTimeByMemberId" resultType="com.jlc.api.dto.CjTimes" parameterType="long">
		select t.ID,t.ZP_TIMES zpTimes,t.ZP_GET_TIMES zpGetTimes,
		t.ZP_GET_SHARE_TIMES zpGetShareTimes,t.ZP_DATE zpDate
		from t_cj_times t where t.id = #{memberId} and to_char(t.zp_date,'yyyy-mm-dd') = to_char(sysdate,'yyyy-mm-dd')
    </select>
    
    <!-- 更新用户可用抽奖机会 -->
    <update id="updateMemberCJTimeByMemberId" parameterType="long">
        update t_cj_times set ZP_TIMES=ZP_TIMES-1 where ZP_TIMES >0 and id = #{memberId}
    </update>
    
    <!-- 更新用户可用抽奖机会  通过对象-->
	<update id="updateMemberCJTime" parameterType="com.jlc.api.dto.CjTimes">
        update t_cj_times 
        set ZP_DATE = trunc(sysdate)
        <if test="zpTimes!=null">
        ,ZP_TIMES=#{zpTimes}
        </if> 
        <if test="zpGetTimes!=null">
        ,ZP_GET_TIMES=#{zpGetTimes}
        </if>
        <if test="zpGetShareTimes !=null">
        ,ZP_GET_SHARE_TIMES=#{zpGetShareTimes}
        </if>
        where id = #{id} and  zp_date = trunc(sysdate)
        <if test="zpTimes!=null">
        		and ZP_TIMES + #{zpTimes} >= 0
        	 </if> 
    </update>  
     <!-- 更新用户可用次数 ，通过参数 -->
    <!--  <update id="updateMemberCJTime" parameterType="com.jlc.api.dto.CjTimes">
        update t_cj_times 
        set ZP_DATE = trunc(sysdate)
        <if test="zpTimes!=null">
        ,ZP_TIMES=ZP_TIMES + #{zpTimes}
        </if> 
        <if test="zpGetTimes!=null">
        ,ZP_GET_TIMES=ZP_GET_TIMES + #{zpGetTimes}
        </if>
        <if test="zpGetShareTimes !=null">
        ,ZP_GET_SHARE_TIMES= ZP_GET_SHARE_TIMES + #{zpGetShareTimes}
        </if>
        where id = #{id} and  zp_date = trunc(sysdate)
       		 <if test="zpTimes!=null">
        		and ZP_TIMES + #{zpTimes} >= 0
        	 </if> 
    </update>  -->
  
     <!-- 获取活动规则赠送抽奖总次数-->
	<select id="getActiviteConditionsTime" resultType="com.jlc.api.dto.CJActiviteConditionTime" parameterType="long">
		 select 
       nvl((select nvl(cc.time, 0)
              from t_cj_activite_conditions cc
             where cc.activite_id = #{aId}
               and cc.type = 1 and cc.unit = 'D'),0) shareTime,
       nvl((select nvl(cc.time, 0)
              from t_cj_activite_conditions cc
             where cc.activite_id = #{aId}
               and cc.type = 2 and cc.unit = 'D'),0) investTime,
       nvl((select nvl(cc.min_amount, 0)
              from t_cj_activite_conditions cc
             where cc.activite_id = #{aId}
               and cc.type = 2 and cc.unit = 'D'),0) minAmount, 
       nvl((select nvl(cc.time, 0)
              from t_cj_activite_conditions cc
             where cc.activite_id = #{aId}
               and cc.type = 3 and cc.unit = 'D'),0) freeTime
       from dual
    </select>
    
    <!-- 获取活动设置弹框跳转地址-->
	<select id="getDialogUrl" resultType="string">
		select u.url from t_cj_param_url u where u.is_del = 1
    </select>
	
</mapper>