<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlc.api.dao.UserMapper">
	<insert id="addUser" parameterType="com.jlc.api.dto.User">
	    <selectKey resultType="int" order="BEFORE" keyProperty="id"> 
		 	<![CDATA[SELECT SEQ_USERS_ID.NEXTVAL FROM DUAL]]>  
		</selectKey> 
		insert into users(
		     id,
		     name,
		     version
		 )values(
		     #{id},
		     #{name},
		     0
		 )
	</insert>
    <update id="updateUserById" parameterType="com.jlc.api.dto.User">
		update users 
		set name = #{name},version = version + 1
		where id = #{id}  and  version = #{version}
	</update>
	<select id="getUserById" parameterType="int" resultType="com.jlc.api.dto.User">
		select
		    id,
		    name,
		    version
		from users 
		where id = #{value} 
	</select>
	<select id="selectUserList" resultType="com.jlc.api.dto.User">
	    select  
	        id,
		    name,
		    version
		from users
	    order by name asc
	</select>
	<delete id="deleteUserById" parameterType="int">
		delete from users where id = #{value} 
	</delete>
</mapper>