<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
				
     <!-- 短信_蓝创 -->
     <bean id="smsSendPojo" class="com.jlc.api.util.noteplatform.SmsSendPojo">
	        <property name="url" value="http://222.73.117.158/msg/"/>
	        <property name="account" value="jinlian"/>
	        <property name="pswd" value="Jinl1688"/>
	        <property name="needstatus" value="true"/>
	        <property name="product" value=""/>
	        <property name="extno" value=""/>
	        <property name="mobile_r" value=""/>
	 </bean>
	
	<!-- 短信_国都 -->
    <bean id="smsSendGdPojo" class="com.jlc.api.util.noteplatform.SmsSendGdPojo">
	        <property name="url" value="http://221.179.180.158:9008/HttpQuickProcess/submitMessageAll"/>
	        <property name="account" value="jlcsc"/>
	        <property name="pwd" value="123456"/>
	        <property name="appendId" value="9527"/>
	</bean>
	
	<!-- 语音验证码 -->
	<bean id="yyyzmPojo" class="com.jlc.api.util.noteplatform.YyyzmPojo">
	        <property name="serverIp" value="app.cloopen.com"/>
	        <property name="serverPort" value="8883"/>
	        <property name="accountSid" value="aaf98f894ecd7d6a014ed89fec7811ea"/>
	        <property name="accountToken" value="0605328f8ea04ccba1275f9f8980b037"/>
	        <property name="appId" value="8a48b5514ecd7fa8014ed8c90db91158"/>
	        <property name="repeatNum" value="2"/>
	        <property name="phone_show" value="01084588458"/>
	        <property name="respUrl" value="https://www.jinlianchu.com/openInterface_state_push_voice_ytx.html"/>
	</bean>	
    
</beans>
